<%= form_for [:user, @book] do |f|%>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 30, rows: 5 %>
  </p>
  <br/>
  <hr/>

  <%= f.fields_for :attachments do |task| %>
    <%= render 'attachment_fields', :f => task %>
  <% end %>
  <p class="text-right">
    <%= link_to_add_association "新增檔案", f, :attachments %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
