<div class="content-wrapper px-2 py-2">
  <h1>New Book</h1>

  <%= form_for @book, url: books_path do |f|%>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>

      <%= f.fields_for :attachments do |task| %>
        <%= render 'attachment_fields', :f => task %>
      <% end %>
      <p class="text-right">
        <%= link_to_add_association "新增檔案", f, :attachments %>
      </p>

      <p>
        <%= f.submit %>
      </p>
  <% end %>
</div>