<!DOCTYPE html>
<html>
  <head>
    <title>MagicBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="sidebar-mini layout-fixed layout-navbar-fixed" cz-shortcut-listen="true" style="height: auto;">
    <div class="wrapper">
      <%= render 'shared/user/navbar' %>
      <%= render 'shared/user/sidebar' %>
      <%= render 'shared/message' %>
      <%= yield %>
      <%= render 'shared/user/footer' %>
    </div>
  </body>
</html>
